	<img class="bg" src="/imgs/storks.jpg">
	<h1 class="hp_title">Hello,</h1>
	<h2 class="hp_subtitle">future early bird</h2>
	<a href="/auth" id="auth"><img class="hp_auth" src="imgs/twitter.png" alt="Sign in to Twitter"></a>
