<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
 <link rel="stylesheet" href="/css/normalize.css">
 <link rel="stylesheet" href="/css/application.css">
 <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <title></title>
</head>
<body>
	<div class="wrapper">
	<span class="user">Hi, MrSaturn567</span>
	<!-- <% if @name %>  -->
	<!-- <%= @name %> -->
	<!-- <% end %> -->
		<%= yield %>
	 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	 <!-- <script type="text/javascript" src="/js/modernizr.js"></script> -->
	 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
	 <script type="text/javascript" src="/js/geolocationGoogleMaps.js"></script>
	 <script type="text/javascript" src="/js/application.js"></script>
	 </div>
	 <span class="wakely">wakely</span>
</body>
</html>
