<img class="bg" src="/imgs/bed.jpg">
<div class="sp_right">
	<h1 class="sp_title">Embarrass</h1>
	<h2 class="sp_subtitle">yourself awake</h2>
</div>
<div class="sp_left">
	<h3 class="sp_sidetitle">How it works:</h3>
	<div class="sp_item">
		<h4 class="left">Set a wake up time</h4>
		<img src="/imgs/time.svg" class="svg sp_time sp_icon right" alt="clock" />
	</div>
	<h4 class="right">Set a walk distance</h4><img src="/imgs/map.svg" class="svg sp_map sp_icon left" alt="clock" />
	<h4 class="left">Wake up and walk</h4><img src="/imgs/man.svg" class="svg sp_walk sp_icon right" alt="clock" />
	<h5 class="right sp_step_last">...or we send an<br />embarrassing tweet</h5><img src="/imgs/bird.svg" class="svg sp_bird sp_icon left" alt="clock" />
</div>
