<div id="step3">
	<img src="/imgs/bird.svg" class="svg step_img" alt="bird" />
	<h3 class="step_title">What do you want to say <br /> if you are unsuccessful?</h3>
	<textarea id="tweettextarea" class="step_textarea" name="tweet" ></textarea><br />
	<p class="counter">140</p>
	<div class="step_buttons">
		<button type="button" class="left" value="0" id="embarrassing">More embarrassing!</button>
		<button type="submit" class="right final_button">Let's do it!</button>
	</div>
</div>