<div id="step2">
	<div class="left w50">
		<img src="/imgs/map.svg" class="svg step_img" alt="map" />
		<h3 class="step_title">How long do you<br/>want to walk?</h3>
		<div id="info" class="step_dist"></div>
	</div>
	<div class="right w50">
		<div id="map" class="map_div">
			<div class="loading">
				<h4 class="step_title">Loading...</h4>
				<img src="imgs/loader.gif">
			</div>
		</div>
	</div>
	<input id="distance-input" name="distance" type="hidden">
	<input id="position-input" name="position" type="hidden">
</div>